<section class="wrapper">
    <div class="container-fostrap">
      
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4" *ngFor="let i of Data" >
                        <div class="card">
                            <a class="img-card" href="https://www.simplilearn.com/ice9/free_resources_article_thumb/full_stack_banner.jpg">
                            <img src="{{i.image}}" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> {{i.formations}} 
                                  </a>
                                </h4>
                                <p class="">{{i.formateur}}</p>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Read More
                                </a>   
                            </div>
                            <div class="card-read-more">
                            <a href="" class="btn btn-link btn-block">
                                Inscrire
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>

