<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body> 
    <div class="registration-form ">
        <form (ngSubmit)="addStudent()">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group ">
                <input type="text" class="form-control item " id="firstName" placeholder="firstName" required name="firstName" [(ngModel)]="student.firstName"  >
            </div>
            <div class="form-group ">
              <input type="text" class="form-control item " id="lastName" placeholder="lastName" required name="lastName" [(ngModel)]="student.lastName"  >
          </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Password" required name="Password"[(ngModel)]="student.password">
            </div>
            <div class="form-group">
                <input type="email" class="form-control item" id="eMail" placeholder="eMail" required  name="eMail" [(ngModel)]="student.eMail">
            </div>
            <!-- <div class="form-group">
                <input type="text" class="form-control item " id="country" placeholder="country " required name="country" [(ngModel)]="student.country">
            </div> -->
            <!-- <div class="form-group">
            <select class="form-select"   aria-label="Default select example"  name="occupation"[(ngModel)]="student.Occupation" >
                <option selected >Occupation</option>
                <option  *ngFor='let occupation of occupations'>{{occupation}}</option>
              </select></div> -->
              <div class="form-group">
                <input type="text" class="form-control item " id="nameSchool" placeholder="nameSchool " required name="nameSchool" [(ngModel)]="student.nameSchool">
            </div>
            <div class="form-group">
                <input type="date" class="form-control item" id="birth" placeholder="birth" name="birth"[(ngModel)]="student.birth">
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" name = "sex" [(ngModel)]="student.sex">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary" value="Male">Male</button>
                <button type="button" class="btn btn-primary" value="Female">Female</button>

              </div>
            </div>
            <!-- <div class="btn-group" role="group" ngbRadioGroup name="sex" [(ngModel)]="sex">
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" class="btn-check" [value] = "true"> Male
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" class="btn-check" [value] ="false"> Female
              </label>
            </div> -->
          <!-- <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Mal" id="male" [value]="true" [(ngModel)]="sex">
                <label class="form-check-label" for="inlineCheckbox1">Male</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="Female" id="Female" [value] ="false"  [(ngModel)]="sex">
                <label class="form-check-label" for="inlineCheckbox2">Female</label>
              </div>
          </div> -->
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account" routerLink="/login" routerLinkActive="active">Create Account</button>
            </div>

        </form>
        <div class="social-media">
            <h5>Sign up with social media</h5>
            <div class="social-icons">
                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                <a href="#"><i class="icon-social-google" title="Google"></i></a>
                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>


<router-outlet></router-outlet>
