<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">Devenir formateur  <span class="text-muted">Enseignez ce que vous aimer.</span></h2>
  <p class="lead">Nos formateur du monde entier donnent des cours à des millions de participants sur iLearn.</p>
</div>
<div class="col-md-5">
  <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"src="    https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg " alt="...">

</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7 order-md-2">
  <h2 class="featurette-heading">iLearn Business. <span class="text-muted">See for yourself.</span></h2>
  <p class="lead">Apprenez et améliorer vos compétences dans les domaines du commercen de la technologie, dela conception et bien plus encore.</p>
</div>
<div class="col-md-5 order-md-1">
  <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"src="https://s.udemycdn.com/home/non-student-cta/ub-1x-v3.jpg    " alt="...">

</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">Transformez votre vie gràce à l'apprentissage. <span class="text-muted"></span></h2>
  <p class="lead">les participants de monde entier se lancent dans de nouvelles carrières et enrechissent leur vie.</p>
</div>
<div class="col-md-5">
  <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"src=" https://s.udemycdn.com/home/non-student-cta/transform-1x-v3.jpg" alt="...">

</div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

<!-- /.container -->
<!-- FOOTER -->
<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


  <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
